@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
.pagination{
    position: relative;
    margin-bottom: 100px;
}

.pagination-inner{
    position: absolute;
    padding-left: 50%;
}

.pagination a{
    background-color: #d9d9d9;
    float: left;
    margin-right: 5px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.pagination a:hover{
    background-color: #d9d9d9;
    color: black;
}

.pagination a.active{
    background-color: #001aff;
    color: white;
}